@import url(/font-awesome/4.0.3/css/font-awesome.min.css);

#wrapper #share {
  position: relative;
  margin: 0 auto;
  display: inline-block;
}
#wrapper #share span {
  width: 100px;
  height: 100px;
  float: left;
  line-height: 100px;
  text-align: center;
  color: white;
}
.containers {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-top: 25px;

}
.containers .circle {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5px;
  stroke-dasharray: 40;
  transition: all 0.2s ease-in-out;
  -webkit-animation: outWaveOut 1s cubic-bezier(0.50, 0, 0.58, 1) forwards;
          animation: outWaveOut 1s cubic-bezier(0.50, 0, 0.58, 1) forwards;
}
.containers .social {
  color: white;
  font-size: 1.8em;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.containers:hover {
  cursor: pointer;
}
.twitter:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTwitter 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorTwitter 1s linear forwards;
}
.twitter:hover .social {
  color: #3aaae1;
}
.facebook:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorFacebook 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorFacebook 1s linear forwards;
}
.facebook:hover .social {
  color: #3b5998;
}
.google:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorGoogle 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorGoogle 1s linear forwards;
}
.google:hover .social {
  color: #dd4b39;
}
.pinterest:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorPinterest 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorPinterest 1s linear forwards;
}
.pinterest:hover .social {
  color: #cb2027;
}
.linkedin:hover .circle {
  fill: #ffffff;
  fill-opacity: 1;
  -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorLinkedin 1s linear forwards;
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorLinkedin 1s linear forwards;
}
.linkedin:hover .social {
  color: #007bb6;
}
@-webkit-keyframes colorTwitter {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3aaae1;
  }
}
@keyframes colorTwitter {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3aaae1;
  }
}
@-webkit-keyframes colorFacebook {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3b5998;
  }
}
@keyframes colorFacebook {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3b5998;
  }
}
@-webkit-keyframes colorGoogle {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #dd4b39;
  }
}
@keyframes colorGoogle {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #dd4b39;
  }
}
@-webkit-keyframes colorPinterest {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #cb2027;
  }
}
@keyframes colorPinterest {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #cb2027;
  }
}
@-webkit-keyframes colorLinkedin {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #007bb6;
  }
}
@keyframes colorLinkedin {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #007bb6;
  }
}
@-webkit-keyframes outWaveIn {
  to {
    stroke-width: 10px;
    stroke-dasharray: 500;
  }
}
@keyframes outWaveIn {
  to {
    stroke-width: 10px;
    stroke-dasharray: 500;
  }
}
@-webkit-keyframes outWaveOut {
  from {
    stroke-width: 10px;
    stroke-dasharray: 500;
  }
  to {
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 50;
  }
}
@keyframes outWaveOut {
  from {
    stroke-width: 10px;
    stroke-dasharray: 500;
  }
  to {
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 50;
  }
}
