body {
    --danger: 232,42,51;
    --color: 255,255,255;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background:#141615;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    color: rgb(var(--color));
}
* {
    list-style: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.shak-user {
    padding-top: 10px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #100f0f;
    padding-bottom: 5px;

}
.shak-user .title {
    text-align: left;

}
.user-name{
    padding-top: 0;
    padding-bottom: 15px;
}
.shak-user .title h1 {
    font-size: 1.1rem;
    padding: 0 0;
}
.shak-user .title p {
    font-size: .9rem;
    opacity: .6;
    padding: 6px 10px;
}
.shak-user .title p a {
    color: rgb(var(--text));
}
.avatar img {
    width: 100px;
    border-radius: 30px;
}
.shak-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 10;
    box-shadow: 0px 15px 20px -5px rgba(0,0,0,.08);
    border-radius: 0px 0px 30px 30px;
}
.shak-menu button {
    padding: 12px;
    width: calc(50% - 4px);
    border: 0px;
    background: transparent;
    font-weight: bold;
    color: rgb(var(--text));
    font-size: 1rem;
    transition: all .25s ease;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    border-radius: 16px;
    z-index: 2;
}
.shak-menu button.active {
    background: #100f0f;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,.06);
    color: rgb(var(--danger));
}
.shak-contents {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    flex: 1;
    height: 100%;
    position: relative;
    max-width: 500px;
}
.shak-posts {
    min-width: 100%;
    scroll-snap-align: center;
    overflow: auto;
    padding-bottom: 30px;
    max-width: 500px;
}
.shak-posts .post {
    width: calc(100% - 40px);
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    position: relative;
    color: #fff;
    border-radius: 30px;
    background-color: #141615;
    margin: 0 20px 20px;
    /*box-shadow: 0 5px 30px 0 rgba(0,0,0,.08);*/
}
.shak-file {
    width: 100%;
    padding-bottom: 85%;
}
.shak-posts .post img {
    height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;

}
.shak-posts .post video {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0,-50%);
}
.shak-posts .post footer {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    padding: 10px 20px;
}
.shak-posts .post footer h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.shak-posts .post footer h3 i {
    margin-right: 5px;
    font-size: 1.4rem;
}
.shak-posts .post .effect {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: 9;
    background: linear-gradient(0deg, rgba(16,15,15,1) , rgba(0,0,0,0.001) );

}
.shak-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px 20px;
    padding-top: 0px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    min-width: 100%;
    scroll-snap-align: center;
    flex: 1;
    overflow: auto;
    padding-top: 20px;
}
.shak-links a {
    display: block;
    width: 100%;
    padding: 18px 22px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(var(--danger));
    margin-bottom: 16px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0px 10px 30px 0px rgba(var(--danger), .15);
}

.shak-links a img {
    max-width: 22px;
    position: absolute;
    left: 20px;
}
.shak-links a svg {
    width: 22px;
    fill: #fff;
    position: absolute;
    left: 20px;
}
.shak-links a i {
    font-size: 1.6rem;
    position: absolute;
    left: 20px;
}
.shak-links a span {
    text-align: center;
}
.shak-links a span p {
    font-size: .8rem;
}


*::-webkit-scrollbar {
    width:0.5em;
}

*::-webkit-scrollbar-track {
  background: #141615;

}

*::-webkit-scrollbar-thumb {
    background-color:#100f0f;
    cursor: pointer;
    box-shadow: 0px 10px 30px 0px #100f0f;
    /*outline: 1px solid slategrey;*/
}