@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
}

body {
  font-size: 100%/1.5em;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  position: relative;
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .notification {
    position: fixed;
    display: none;
    bottom: 0;
    right: 0;

    background-color: #fff;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.16);

    z-index: 999;
    .notification-img {
      display: inline-block;
      padding: 18px;
      background-color: #E8B268;
    }
    .notification-text {
      display: inline-block;

      p {
        padding: 0 15px;
        color: #000;
        a {
          color: #E8B268;
        }
      }
    }
  }
  .notification-animation {
    animation-name: notification;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    display: inline-block;
  }
  @keyframes notification {
    0% {
      right: -100%;

    }
    50% {

      right: 70px;

    }
    100% {
      right: 0;

    }
  }
  .header-background-img {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-image: url("../img/robert-keane-1422397-unsplash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top right;
    position: relative;
    z-index: 2;
    padding-right: 15px;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -2;
      position: absolute;
      background-color: #000;
      opacity: 0.50;
    }

    .header-nav {

      .navbar {
        button {
          color: #fff;
        }

        ul {
          position: relative;
          padding-top: 5px;

          &:before {
            position: absolute;
            bottom: -10px;
            left: 0;
            content: "";
            width: calc(100% + 30px);
            height: 1px;
            background-color: #fff;
            opacity: 0.33;
          }

          li {
            a {
              margin-left: 1rem;
              margin-right: 1rem;
              color: #fff;
              position: relative;
              font-weight: bold;

            }
            .active {
              &:before {
                position: absolute;
                bottom: -10px;
                left: 0;
                content: "";
                width: 100%;
                height: 1px;
                background-color: #fff;
                opacity: 1;
              }
            }
          }
          li:nth-child(1) a {
            padding-left: 5px;
            margin-left: 0;
          }
          .btns {
            background-color: #E8B268;
            padding: 0;
            font-weight: 600;
            text-align: center;
            a {
              padding: 8px 35px;
            }
          }

        }
        .ml-auto {
          &:before {
            width: calc(100% + 150px);
            left: -150px;
          }
        }
      }
      .navbar-brand {
        position: absolute;
        top: 20px;
        left: calc(50% - 65px);
        width: 100px;
      }

    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 9999;
      .navbar-brand {
        display: none;
      }
      .navbar ul {
        &:before {
          display: none
        }
        li .active {
          &:before {
            display: none
          }
        }
      }
    }
    .header-body {
      padding: 200px 200px 0 200px;

      .center-content {
        width: 50%;
        font-size: 1.5em;
        a {
          background-color: #E8B268;
          display: inline-block;
          color: #fff;
          border-radius: 0;
          padding: 7px 60px 7px 45px;
          font-weight: 600;
          letter-spacing: 5px;
          position: relative;
          text-transform: uppercase;
          font-size: 0.8em;
          &:focus {
            box-shadow: none;

          }
          img {
            transition: 0.5s;
            position: absolute;
            right: 30px;
            top: 14px;
          }
          &:hover {
            img {
              right: 20px;
              transition: 0.5s;

            }
          }
          &:active {
            background-color: #cd9d5c;
          }
        }
      }
    }
    .header-footer {
      position: absolute;
      bottom: 20px;
      left: 40px;
      .social-icon {
        a {
          margin: 10px;
        }
      }

    }
  }
  .slider-first {
    position: relative;
    background-image: url("../img/slide-1.png");
    background-repeat: no-repeat;
    background-size: auto 100%;

    margin-left: 20px;
    margin-top: 20px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #E8B268;
      opacity: 0.50;
    }
    .owl-carousel {
      .background-img {
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 280px;
        display: inline-block;
        .img {
          width: 105px;
          height: 105px;
          display: inline-block;
          vertical-align: middle;

          span {
            vertical-align: middle;

            display: inline-block;
          }
        }
        .text {
          vertical-align: middle;
          display: inline-block;
          width: 40%;
          p {

            margin-bottom: 0;

            font-size: 1.375em;
          }
        }
      }
      .owl-nav {
        position: absolute;
        bottom: 0;

        button {
          background-color: transparent;
          font-size: 2em;
          color: #000;
          margin-left: 3px;

          width: 50px;
          height: 50px;
          &:focus {
            outline: none;
          }
          span {
            opacity: 0;
          }
        }
        .owl-prev {
          margin-left: 60px;
        }
      }
    }
    .owl-navs {
      position: absolute;
      bottom: 0;
      left: 60px;
      z-index: 0;
      background-color: #fff;
      button {
        width: 50px;
        height: 50px;
        border-radius: 0;
        border: 1px solid transparent;
        background-color: #fff;
      }

    }
  }
  main {
    position: relative;

    .section-1 {
      .titles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-self: flex-end;
        margin: 30px 0 40px;
        h1 {
          font-size: 3.125em;
          display: inline-block;
          color: #272424;
          margin-bottom: 0;
          margin-top: 10px;
          font-weight: bold;
        }
        a {
          margin-top: 30px;
          margin-right: 50px;
          background-color: #E8B268;
          display: inline-block;
          color: #fff;
          border-radius: 0;
          padding: 10px 50px 10px 35px;
          font-weight: 600;
          letter-spacing: 5px;
          position: relative;
          text-transform: uppercase;
          &:focus {
            box-shadow: none;

          }
          img {
            transition: 0.5s;
            position: absolute;
            right: 30px;
            top: 17px;
          }
          &:hover {
            img {
              right: 20px;
              transition: 0.5s;

            }
          }
          &:active {
            background-color: #cd9d5c;
          }
        }
      }
      .contents {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2.2rem 1.2rem;
        .content {
          position: relative;
          .left-content {
            position: absolute;
            background-color: #272424;
            opacity: 0.90;
            width: 47%;
            height: 100%;
            padding: 30px 15px;
            display: grid;
            .left-content-header {
              width: 100%;
              font-size: 0.875em;

              display: block;
              .buildings {
                display: inline-block;
                background-color: #fff;
                padding: 5px 11px 0 5px;
                margin-right: 5px;
                p {
                  color: #656264;
                  margin: 0;
                  line-height: 0;
                  font-weight: 600;

                  img {
                    margin-right: 9px;
                    line-height: 1.5;
                    padding-bottom: 5px;
                  }
                }
              }
              .buildings-size {
                display: inline-block;
                border: 1px solid #fff;
                padding: 5px 12px;
                p {
                  margin-bottom: 0;
                }
              }
            }
            .left-content-body {
              font-size: 1.875em;
              width: 118px;
              line-height: 40px;
              font-weight: bold;
              align-self: flex-end;
              a {
                position: relative;

                color: #fff;
                &:before {
                  content: "";
                  position: absolute;
                  bottom: -12px;
                  width: 21px;
                  left: 0;
                  height: 2px;
                  transition: all 0.4s;
                  background-color: #fff;
                }
                &:hover {
                  &:before {
                    transition: all 0.4s;
                    width: calc(100% + 12px);
                    height: calc(100% + 12px);
                    background-color: transparent;
                    border-bottom: 2px solid #fff;
                    border-top: 2px solid #fff;
                  }
                }

              }

            }
            .left-content-footer {
              align-self: flex-end;
              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .section-2 {
      position: relative;
      width: 100%;
      height: 120vh;
      .body-background-img {
        width: 100%;
        height: calc(100% + 203px);
        position: absolute;
        top: -203px;
        background-image: url("../img/2_5323579755432248023.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom right;
        background-attachment: fixed;
        z-index: -1;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #E8B268;
          opacity: 0.91;
        }

      }
      .container {
        padding-top: 100px;
        .row {
          .col-12 {
            margin-bottom: 40px;
            h1 {
              font-size: 3.125em;
              display: inline-block;
              color: #fff;
              margin-bottom: 0;
              margin-top: 10px;
              font-weight: bold;
            }
          }
          .col-6 {
            .info {
              display: flex;
              position: relative;
              .img {
                width: 92px;
                height: 92px;

              }
              .text {
                padding: 10px 0 0 15px;

                h4 {
                  display: block;
                  font-size: 2em;
                  margin-bottom: 15px;
                }
                p {
                  display: block;
                  margin-bottom: 0;

                  font-size: 1.2em;
                }
              }
            }
          }
        }
      }
    }
    .section-3 {
      .gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        grid-template-rows: repeat(3, 1fr);

        .images-3 {
          grid-column: 4 / 7;
          position: relative;
          background-image: url("../img/Rectangle 4-2.png");
          background-position: bottom right;
          background-size: auto 100%;
          background-repeat: no-repeat;
          z-index: 1;

          &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: #E8B268;
            opacity: 0.95;
            z-index: -1;
          }
          .content-body {
            padding: 30px;
            h4 {
              position: relative;
              margin-bottom: 20px;
              &:before {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 21px;
                height: 2px;
                background-color: #fff;
              }
            }
          }
          .content-footer {
            display: flex;
            justify-content: flex-end;
            a {
              background-color: #fff;
              display: block;

              padding: 14px 50px 14px 50px;
              color: #E8B268;
              border-radius: 0;
              padding-left: 100px;
              padding-right: 35px;
              font-weight: 600;
              letter-spacing: 5px;
              &:focus {
                box-shadow: none;

              }
              &:active {
                background-color: #eeeeee;
              }
              img {
                margin-left: 50px;
              }
            }

          }
        }
        .images {
          position: relative;
          .img-fluid {

          }
          .instagramm-content {
            display: none;
            height: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            z-index: 0;
            font-size: 0.8em;
            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #5B5B5B;
              opacity: 0.50;
              bottom: 0;
              left: 0;
              z-index: -1;
            }
            .instagramm-img {
              width: 40px;
              height: 40px;
              overflow: hidden;
              display: contents;
              img {
                width: 40px;
                height: 40px;
                margin-right: 5px;
              }
            }
            .instagamm-name {
              margin-top: auto;
              margin-bottom: auto;
              a {
                color: #fff;
              }
            }
            .instagramm-likes {
              margin-left: auto;
              margin-top: auto;
              margin-bottom: auto;
              p {
                margin-bottom: 0;
              }
            }
          }
          &:hover {
            transition: all 0.5s;
            .instagramm-content {
              display: flex;
              animation-name: insthover;
              animation-fill-mode: backwards;
              animation-duration: 0.2s;
              height: auto;
              transition: all 0.5s;
            }
          }
          @keyframes insthover {
            0% {
              display: none;
              height: 0;
            }
            50% {
              display: flex;
              height: 50px;
            }
            100% {
              display: flex;
              height: auto;
            }

          }
        }
      }
    }
    .section-4 {
      background-image: url("../img/2_5323579755432248024.png");
      background-position: bottom right;
      background-size: 100% auto;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E8B268;
        opacity: 0.95;
      }
      padding: 20px;
      .col-6 {
        p {
          margin-bottom: 0;
        }
      }
      .ml-auto {
        padding: 15px;
        .secondCont {
          position: relative;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid #fff;
            opacity: 0.15;
            z-index: -1;
          }
          .email {
            display: inline-block;
            background-color: transparent;
            padding: .375rem .75rem;;
            border: 1px solid transparent;
            vertical-align: middle;
            color: #fff;
            &::placeholder {
              color: #fff;
            }
            &:focus {
              outline: none;
            }
          }
          .btn {
            display: inline-block;
            background-color: #fff;
            color: #E8B268;
            border-radius: 0;
            padding-left: 35px;
            padding-right: 35px;
            font-weight: 600;
            letter-spacing: 5px;
            &:focus {
              box-shadow: none;

            }
            &:active {
              background-color: #d1d1d1;
            }
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    background-image: url("../img/footer-back.png");
    background-position: right top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px 0;
    .brands {
      padding: 0;
      background-image: url("../img/Mask Group 13.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      z-index: 1;
      display: grid;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E8B268;
        opacity: 0.95;
        z-index: -1;
      }
      a {
        margin: auto 0;
        align-self: center;
        justify-self: center;
        display: block;
      }
    }
    .footer-content {
      padding: 30px;
      .footer-header {
        .navbar-nav {
          display: block;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #FFFFFF;
            opacity: 0.15;
            height: 1px;
          }
          li {
            display: inline-block;
            padding: 20px;
            a {
              color: #fff;
              font-size: 1.5em;
            }
          }
        }
      }
      .footer-body {
        position: relative;
        display: block;
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: #FFFFFF;
          opacity: 0.15;
          height: 1px;
        }
        .navbar-nav {
          display: inline-block;
          font-size: 1em;
          li {
            display: inline-block;
            padding: 20px 10px;
            a {
              padding: 0;
              color: #fff;
            }
          }
        }
        .ml-auto {
          display: inline-block;
          li {
            font-weight: 700;
          }
          .btns {
            background-color: #E8B268;
            padding: 0;
            font-weight: 600;
            a {
              padding: 10px 35px;
            }
          }
        }
      }
      .footer-footer {
        padding: 10px 0;
        .social-icon {
          margin-bottom: 20px;
          a {
            padding: 10px;
          }
        }
        .about-sayt {
          padding: 0 10px;
          a {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }

  }

  @media (max-width: 640px) {
    main {
      .section-1 {
        .titles {
          grid-template-columns: repeat(1, 1fr);
        }
        .contents {
          padding: 15px;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 1rem 1rem;
        }
      }
      .section-3 {
        .gallery {
          grid-template-columns: repeat(2, 2fr);
          grid-template-rows: repeat(3, 1fr);
          .images-3 {
            grid-column: 1/3;
          }
        }
      }
    }

  }
  @media only screen and (min-width: 320px) and (max-width: 425px) {

    width: 100%;
    font-size: 12px;
    .header-background-img {
      width: 100%;
      background-size: auto 100%;
      padding: 0;
      position: relative;
      .header-nav {
        position: absolute;
        width: 100%;
        padding: 20px 15px 20px 15px;
        .row {
          max-width: 100%;
          width: 100%;
          margin: 0;
          .col-md-12 {
            max-width: 100%;
            width: 100%;
            padding: 0;
            .navbar {
              padding: 0;
              .navbar-collapse {
                width: 100%;
                background-color: #fff;
                z-index: 99;
                .ml-auto {
                  &:before {
                    display: none;
                  }
                }
                ul {
                  .btns {

                    a {
                      color: #fff;
                    }
                  }
                  li:nth-child(1) a {
                    padding-left: 0;
                    margin-left: 1rem;
                  }
                  .active {
                    &:before {
                      display: none;
                    }
                  }
                  li {
                    a {
                      color: #000;
                    }
                  }
                }
              }
              button {
                color: #fff;

              }

            }
          }
        }
        .navbar-brand {
          position: absolute;
          top: -10px;
          left: calc(50% - 45px);
          width: 80px;
        }
      }
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
        padding: 20px 15px 20px 15px;
        .navbar-brand {
          display: none;
        }
      }
      .header-body {
        padding: 150px 40px;
        .center-content {
          width: 100%;

          a {
            padding: 5px 40px 5px 20px;
            img {
              top: 0.6rem;
              right: 20px;
            }
            &:hover {
              img {
                right: 10px;
                transition: 0.5s;

              }
            }
          }

        }
      }

    }
    .slider-first {
      .owl-carousel {
        .background-img {
          padding-left: 0px;
          padding-right: 0;
          .img {
            width: 70px;
            height: 70px;
            margin-right: auto;
            margin-left: auto;
            display: block;
            span {

            }
          }
          .text {
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.7rem;
            text-align: justify;
          }
        }
        .owl-nav {
          bottom: 0;
          button {
            width: 30px;
            height: 30px;
          }
          .owl-prev {
            margin-left: 20px;
          }
        }
      }

      .owl-navs {
        left: 20px;
        button {
          width: 30px;
          height: 30px;
          padding: 0px 6px;
        }
      }
    }
    .notification {
      font-size: 0.9em;
      .notification-img {
        padding: 10px 3px;
        img {
          width: 20px;
          height: 20px;
        }
      }
      .notification-text {
        p {
          padding: 2px;
          margin-bottom: 0;
        }
      }
    }
    main {
      .section-1 {
        .titles {
          margin-bottom: 30px;
          h1 {
            font-size: 2.8em;
          }
          .ml-auto {
            margin-right: auto;
            a {
              margin-right: 0;
              img {
                top: 14px;
              }
            }
          }
        }
        .contents {
          padding: 0;
          .content {
            .left-content {
              padding: 10px 0px 10px 7px;
              .left-content-header {
                .buildings-size {
                  padding: 5px;
                  margin-top: 5px;
                  font-size: 0.9em;
                }
              }
              .empty {
                display: none;
              }
              .left-content-body {
                font-size: 1.2em;
                a {
                  &:before {
                    bottom: -5px;

                  }
                  &:hover {
                    &:before {
                      width: calc(100% + 5px);
                      height: calc(100% + 5px);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .section-2 {
        height: auto;
        padding-bottom: 50px;
        .body-background-img {
          height: calc(100% + 65px);
          top: -65px;
          background-attachment: inherit;
          background-position: bottom center;
          background-size: auto 100%;
        }
        .container {
          padding-top: 50px;
          .row {
            .col-12 {
              h1 {
                font-size: 2.8em;
              }
            }
            .col-6 {
              max-width: 100%;
              width: 100%;
              flex: auto;
              margin-bottom: 30px;
            }
          }
        }
      }
      .section-3 {
        .gallery {
          .images {
            .instagramm-content {
              padding: 5px;

              .instagramm-img {
                width: 30px;
                height: 30px;
                img {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
          .images-3 {
            .content-body {
              padding: 15px;
              p {
                font-size: 1.2em;
              }
            }
            .content-footer {
              a {
                padding-left: 40px;
                img {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
      .section-4 {
        .row {
          .col-6 {
            max-width: 100%;
            width: 100%;
            flex: none;
            p {
              font-size: 1.2em;
            }
          }
          .ml-auto {
            input {
              width: 100%;
            }
          }
        }
      }
    }
    footer {
      .container-fluid {
        .row {
          .col-2 {
            width: 100%;
            max-width: 100%;
            flex: none;
            padding: 30px;
          }
        }
      }
    }

  }

  @media only screen and (min-width: 426px) and (max-width: 768px) {
    font-size: 14px;
    .header-background-img {
      width: 100%;
      background-size: auto 100%;
      position: relative;
      padding: 0;
      .header-nav {

        width: 100%;
        .row {
          max-width: 100%;
          width: 100%;
          margin: 0;
          .col-md-12 {
            max-width: 100%;
            width: 100%;
            padding: 0;
            .navbar {
              .navbar-collapse {
                width: 100%;
                .navbar-nav {

                  .nav-item {
                    .nav-link {
                      padding: 0;
                      margin: 0 10px;
                    }
                  }
                }
              }

            }
          }
        }
        .navbar-brand {
          position: absolute;
          top: 50px;
          left: calc(50% - 45px);
        }
      }
      .header-body {
        padding: 220px 60px;
        .center-content {
          width: 100%;

          a {
            font-size: 0.8em;
            text-align: center;
            padding: 5px 50px 5px 30px;
            img {
              top: 0.8rem;
              right: 20px;
            }
            &:hover {
              img {
                right: 10px;
                transition: 0.5s;

              }
            }
          }

        }
      }
    }
    .slider-first {
      .owl-carousel {
        .background-img {
          padding-left: 90px;
          .img {
            width: 70px;
            height: 70px;
            display: inline-block;
            span {

            }
          }
          .text {
            display: inline-block;
            width: 80%;
          }
        }
        .owl-nav {
          bottom: 0;
          button {
            width: 40px;
            height: 40px;
          }
          .owl-prev {
            margin-left: 30px;
          }
        }
      }

      .owl-navs {
        left: 30px;
        button {
          width: 40px;
          height: 40px;
        }
      }
    }
    .notification {
      .notification-img {
        padding: 12px;
        img {
          width: 20px;
          height: 20px;
        }
      }
      .notification-text {
        p {
          padding: 2px;
          margin-bottom: 0;
        }
      }
    }
    main {
      .section-1 {
        .titles {
          h1 {
            font-size: 2.8em;
          }
          .ml-auto {
            a {
              margin-right: 0;
              margin-top: 20px;
              img {
                top: 14px;
              }
            }
          }
        }
        .contents {
          padding: 0;
          .content {
            .left-content {
              padding: 10px 0px 10px 10px;
              .left-content-header {
                .buildings-size {
                  padding: 5px;
                  margin-top: 5px;
                  font-size: 0.9em;
                }
              }
              .empty {
                display: none;
              }
              .left-content-body {
                font-size: 1.5em;
                line-height: 25px;
                a {
                  &:before {
                    bottom: -5px;

                  }
                  &:hover {
                    &:before {
                      width: calc(100% + 5px);
                      height: calc(100% + 5px);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .section-2 {
        height: auto;
        padding-bottom: 50px;
        .body-background-img {
          height: calc(100% + 65px);
          top: -65px;
          background-attachment: inherit;
          background-position: bottom center;
          background-size: auto 100%;
        }
        .container {
          padding-top: 50px;
          .row {
            .col-12 {
              h1 {
                font-size: 2.8em;
              }
            }
            .col-6 {
              max-width: 100%;
              width: 100%;
              flex: auto;
              margin-bottom: 30px;
            }
          }
        }
      }
      .section-3 {
        .gallery {
          grid-template-columns: repeat(3, 3fr);
          grid-template-rows: repeat(3, 1fr);
          .images-3 {
            grid-column: 1/4;
            font-size: 16px;
            background-size: 100% auto;
          }
        }
      }
      .section-4 {
        .row {
          .col-6 {
            max-width: 100%;
            width: 100%;
            flex: none;
            p {
              font-size: 1.2em;
            }
          }
          .ml-auto {

            .secondCont {

            }
          }
        }
      }

    }
    footer {
      .container-fluid {
        .row {
          .col-2 {
            width: 100%;
            max-width: 100%;
            flex: none;
            background-size: 100% auto;
            background-position: center center;
            padding: 30px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1081px) {
    font-size: 15px;
    .header-background-img {
      .header-body {
        padding: 185px 140px 0 140px;
        .center-content {
          width: 80%;
          font-size: 1.4em;
          a {
            padding: 7px 50px 7px 30px;
            font-size: 0.7em;
            img {
              top: 13px;
            }
          }
        }
      }
      .header-nav {
        font-size: 14px;
        .navbar ul li a {
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
      }
    }
    .slider-first {
      .owl-carousel {
        .background-img {
          padding-left: 90px;
          padding-top: 45px;
          padding-bottom: 35px;
          .img {
            width: 90px;
            height: 90px;
            display: inline-block;
            span {

            }
          }
          .text {
            display: inline-block;
            width: 80%;
          }
        }
        .owl-nav {
          bottom: 0;
          button {
            width: 50px;
            height: 50px;
          }
          .owl-prev {
            margin-left: 60px;
          }
        }
      }

      .owl-navs {
        left: 50px;
        button {
          width: 50px;
          height: 50px;
        }
      }
    }
    main {
      .section-1 {
        .titles {
          h1 {
            font-size: 2.8em;
          }
          a {
            margin-top: 20px;
            margin-right: 0;
          }
        }
        .contents .content .left-content {
          padding: 20px 12px;
          .left-content-header {
            font-size: 11px;

            .buildings-size {
              padding: 5px 5px;
              margin-top: 5px;
            }
          }
          .left-content-body {
            font-size: 1.45em;
            line-height: 28px;
            margin-bottom: 8px;
            a {
              &:before {
                bottom: -3px;

              }
              &:hover {
                &:before {
                  height: calc(100% + 2px);
                }
              }
            }
          }
        }
      }
      .section-2 {
        height: auto;
        padding-bottom: 30px;
        .body-background-img {
          height: calc(100% + 65px);
          top: -65px;
          background-attachment: inherit;
          background-position: bottom center;
          background-size: auto 100%;
        }
        .container {
          padding-top: 40px;
          .row {
            .col-12 {
              h1 {
                font-size: 2.8em;
                margin-bottom: 20px;
              }
            }
            .col-6 {
              margin-bottom: 40px;
            }
          }
        }

      }

    }
    footer {
      font-size: 13px;
      .container-fluid {
        .row {
          .col-2 {
            width: 25%;
            max-width: 25%;
            flex: 0 0 25%;
            background-size: auto 100%;
            background-position: center center;

          }
        }
      }
    }
  }

  @media only screen and (min-width: 1082px) and (max-width: 1325px) {
    .header-background-img {

      .header-nav {

        .row {
          .col-md-12 {
            .navbar {
              .navbar-collapse {
                .ml-auto {
                  &:before {
                    width: calc(100% + 110px);
                    left: -110px;
                  }
                }
                ul {
                  &:before {
                    width: calc(100% + 10px);
                  }
                  .btns {
                    a {
                      margin-left: 0;
                    }
                  }
                  li {
                    a {
                      margin-right: 0;
                    }
                  }
                }
              }

            }
          }
        }
      }
      .header-body {
        padding: 157px 100px 0 200px;
        .center-content {
          width: 62%;
          font-size: 1.4em;

          a {
            padding: 7px 60px 7px 45px;
            font-size: 0.7em;
          }
        }
      }
    }
    .slider-first .owl-carousel .background-img .text{
      width: 60%;
    }
    main .section-1 .contents .content .left-content .left-content-body a{
      &:before{
        bottom: -6px;
      }
      &:hover{
        &:before{
          height: calc(100% + 6px);
        }
      }
    }
    main .section-2 {
      height: auto;
      padding-bottom: 60px;
      .col-6{
        margin-bottom: 30px;
      }
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 955px) {
    .header-background-img .header-nav .navbar ul:before {
      display: none;
    }
    .header-background-img .header-nav {
      .navbar-expand-md .navbar-collapse {
        position: relative;
        &:before {
          position: absolute;
          bottom: -10px;
          left: 0;
          content: "";
          width: calc(100% + 5px);
          height: 1px;
          background-color: #fff;
          opacity: 0.33;
        }
      }
      .navbar-brand {
        top: 60px;
      }
    }
  }

  @media only screen and (min-width: 426px) and (max-width: 767px) {
    .header-background-img {

      .header-nav {

        width: 100%;

        .row {
          max-width: 100%;
          width: 100%;
          .col-md-12 {
            max-width: 100%;
            width: 100%;
            padding: 0;
            .navbar {
              .navbar-collapse {
                width: 100%;
                background-color: #fff;
                z-index: 99;
                .ml-auto {
                  &:before {
                    display: none;
                  }
                }
                ul {
                  .btns {
                    a {
                      padding: 10px !important;
                      color: #fff;
                    }
                  }
                  li:nth-child(1) a {
                    padding-left: 0;
                    margin-left: 1rem;
                  }
                  .active {
                    &:before {
                      display: none;
                    }
                  }
                  li {
                    margin-bottom: 5px;
                    margin-top: 5px;
                    a {
                      color: #000;
                    }
                  }
                }
              }
              button {
                color: #fff;

              }

            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 800px) {
    main {
      .section-3 {
        .gallery {
          grid-template-columns: repeat(5, 1fr) !important;
          grid-template-rows: repeat(2, 1fr) !important;
          .images-3 {
            grid-column: 1/5 !important;
            background-size: 100% auto !important;
            .content-body {
              padding: 5px 30px !important;
            }
            .content-footer {
              a {
                padding: 6px 20px 6px 70px !important;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 801px) and (max-width: 950px) {
    main {
      .section-3 {
        .gallery {
          grid-template-rows: repeat(1, 1fr) !important;
          .images-3 {
            .content-body {

              padding: 4px 30px 0px 30px !important;
              h4 {
                font-size: 22px !important;
              }
            }
            .content-footer {
              margin-top: -10px !important;
              a {
                padding: 5px 20px 5px 50px !important;
                img {
                  margin-left: 20px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 951px) and (max-width: 1150px) {
    main {
      .section-3 {
        .gallery {
          grid-template-rows: repeat(1, 1fr) !important;
          .images-3 {
            .content-body {

              padding: 12px 30px 10px 30px !important;
              h4 {
              }
            }
            .content-footer {
              a {
                padding-top: 8px !important;
                padding-bottom: 8px !important;
                img {
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1151px) and (max-width: 1326px) {
    main {
      .section-3 {
        .gallery {
          grid-template-rows: repeat(1, 1fr) !important;
          .images-3 {
            .content-body {

              padding: 18px 30px 17px 30px !important;
              h4 {
              }
            }
            .content-footer {
              a {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                img {
                }
              }
            }
          }
        }
      }
    }
  }

}

